# IBM Cloud Credentials
IBM_API_KEY=l5rp9v59Bt0r33XXSDHQp3UDBtY9YAiDGHL_Q2Nx-dCf
IBM_PROJECT_ID=9ddf1e55-4674-4b28-a3b8-fad197ad6668


# IBM Watsonx.ai endpoint (update region if needed)
IBM_WATSONX_URL=https://us-south.ml.cloud.ibm.com

# IBM IAM Token URL
IBM_IAM_URL=https://iam.cloud.ibm.com/identity/token

# IBM Granite Model ID
IBM_MODEL_ID=ibm/granite-13b-chat-v2

# Server Port
PORT=3000
